<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- SEO -->
  <title>S. Slade Sundar</title>
  <meta name="description" content="S. Slade Sundar" />
  <meta name="robots" content="index, follow" />
  <meta name="referrer" content="always" />

  <!-- Social & Open Graph -->

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body id="fullsingle" class="page-template-page-fullsingle-me" >
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
